include HISTORY.md
include README.md
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py Makefile make.bat
